@import url(/node_modules/@fontsource/nunito/400.css);
@import url(/node_modules/@fontsource/nunito/800.css);

:root {
  --color-main: #ed6436;
  --typography-main: "Nunito", sans-seriff;
  --button-border-radius: 0 30px 30px 30px;
  --padding-left: 103px;
  --padding-right: 103px;
}

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--typography-main);
}

.header {
  height: 64;
  box-shadow: 0px 0px 5px 0 grey;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main__title {
  color: var(--color-main);
}

.main__bigtitle {
  font-size: 70px;
}

.main__button {
  display: flex;
  background-color: #ed6436;
  border-radius: var(--button-border-radius);
  width: 137px;
  height: 53;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  font-size: 17px;
}

.image-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 60px;
  padding-right: 60px;
  gap: 30;
}

@media (min-width: 1170px) {
  .image-gallery {
    flex-direction: row;
  }
}

img {
  border-radius: 10%;
  height: 400;
  width: 600;
}

figure {
  position: relative;
}

figcaption {
  display: none;
  flex-direction: column;
  position: absolute;
  border-radius: 10%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  color: white;
}

figure:hover figcaption {
  display: flex;
}

p:nth-child(2) {
  font-weight: 800;
  font-size: 30;
}
